body {
    /*  background: url("../images/background.jpg");
      background-repeat: no-repeat;
      background-position: center-top; */
    background-color: #fff;
    font-family: Helvetica, Arial;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-align: center;
}